
body
{

    background-image: url('Assets\\bg.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.board
{

    background-image: url('Assets\\board.png');  
    background-size: cover;  
    margin:100px auto;
    width:480px ;
    height: 500px;
    background-color: white;
    border-radius: 5px;

}

.position
{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 8px 0 0 0;
}

.position.p2,
.position.p5,
.position.p8,
.position.p3,
.position.p6,
.position.p9
{

    padding: 0 0 0 8px;
}

.tic{
    margin:0 0 8px 5px;
}
.reset-btn
{
    width: 100%;
    font-size: 25px;
    margin: 10px 0 0 0;
    padding: 10px 10px;
    background: gold;
    text-align: center;
    border-width: 1px;
    border-radius: 25px;
}

