
body
{

    background-image: url('Assets\\bg.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.board
{

    background-image: url('Assets\\board.png');  
    background-size: cover;  
    margin:10px auto;
    width:480px ;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;

}

.position
{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 10px 4px 5px 3px;
    position: relative;
}

.tic{
    margin:0 0 8px 5px;
    position: absolute
}
.btn
{
    width: 100%;
    font-size: 25px;
    margin: 10px 0 0 0;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border:none;
    border-radius: 25px;
}
img.start{
    visibility: hidden;
}
h1{
    width: 40%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border:none;
    border-radius: 25px;
}
h2{
    width: 35%;
    font-size: 25px;
    margin: 10px auto;
    padding: 10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border:none;
    border-radius: 25px;

}
h2.start{
    visibility: hidden;
}
